@import "src/shared/styles/variables";

.MainPageLayout {
  &__logo {
    height: $app-bar-height;
    width: 64px;
  }

  &__menu-item-link {
    border-radius: 4px;

    &:not(&:first-child) {
      margin-left: 16px;
    }

    &_active {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  &__page-content {
    margin-top: $page-content-margin-top;
  }
}
